/*
    CSS classe générales
*/
body {
    position: relative;
}
.rel {
    position: relative;
}
.absol {
    position: absolute;
}
.flux-right {
    right: 0;
}
.flux-bottom {
    bottom: 0;
}
.disp-block {
    display: block;
}
.flex {
    display: flex;
}
.btw {
    justify-content: center;
}
.btw-sbtw {
    justify-content: space-between;
}
.y-center {
    align-items: center;
}
.x-center {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.m-center {
    margin: 0 auto;
}
.m-sml-x {
    margin-left: 15px;
    margin-right: 15px;
}
.m-sml-y {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-mdl-x {
    margin-left: 50px;
    margin-right: 50px;
}
.m-mdl-y {
    margin-top: 50px;
    margin-bottom: 50px;
}
.m-lg-x {
    margin-left: 70px;
    margin-right: 70px;
}
.m-lg-y {
    margin-top: 70px;
    margin-bottom: 70px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.pt-50 {
    padding-top: 50px;
}
.white-space {
    white-space: nowrap;
}
.segment {
    padding: 160px 0;
}
.segment-small {
    padding: 60px 0;
}
.left-content {
    margin-right: 75px;
}
.right-content {
    margin-left: 75px;
}
.col1 {
    width: 50%;
}
.col2 {
    width: 100%;
}
.content-size-page {
    width: 90%;
}
.element-space {
    margin-bottom: 70px;
}
.main-footer {
    margin: 70px 0;
}
.header-container {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}
.title-container {
    padding: 10px 0;
}
.nav-link-container {
    justify-content: center;
}
.text-align-center {
    text-align: center;
}
.hero-container img{
    object-position: center;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}
.btn-area {
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn-container-article {
    justify-content: end;
    align-items: flex-end;
}
.article-p {
    padding-bottom: 40px;
}
.line {
    height: 1px;
}
.planning-content p {
    padding-bottom: 0;
}
.horaire-content h2 {
    margin-left: 10%;
}
.primary-btn {
    padding: 8px 32px;
}
footer input {
    margin-top: 10px;
    padding: 5px;
}
footer .primary-btn {
    margin-top: 40px;
    width: 33%;
}
footer .secondary-btn {
    margin-top: 15px;
}
footer form {
    margin-top: 40px;
}


