:root {
    --font-title : 'Cinzel', serif;
    --font-subtitle : 'Lora', serif;
    --font-text : 'Quattrocento', serif;
    --main-background-color : #171313;
    --second-background-color : #fff;
    --third-background-color : #b3b3b3;
    --cta-color : #76E2A9;
}
body {
    background-color: var(--main-background-color);
    color: var(--second-background-color);
}
.bord-bot {
    border-bottom: 1px solid var(--third-background-color);
}
.h1 {
    text-align: center;
    font-family: var(--font-title);
    font-size: 72px;
}
.h2 {
    text-transform: uppercase;
    font-family: var(--font-subtitle);
    font-size: 54px;
    font-weight: 100;
    margin-bottom: 50px;
}
.h3 {
    font-size: 40px;
    font-family: var(--font-subtitle);
    font-weight: 300;
    margin-bottom: 40px;
}
.h4 {
    font-family: var(--font-title);
    font-size: 28px;
    font-weight: 400;
}
p {
    font-size: 18px;
    font-family: var(--font-text);
    color: inherit;
}
.nav-link {
    font-family: var(--font-subtitle);
    font-size: 20px;
    text-transform: uppercase;
}
.btn {
    font-family: var(--font-text);
    font-size: 14px;
}
.secondary-btn {
    color: inherit;
}
.primary-btn {
    background-color: var(--cta-color);
    font-weight: 600;
}
.secondary-btn {
    color: var(--cta-color);
    font-weight: 600;
}
.btn span {
    font-size: 18px;
}
.bg-black {
    background-color: var(--main-background-color);
}
.bg-white {
    background-color: var(--second-background-color);
}
.c-black {
    color: var(--main-background-color);
}
.c-white {
    color: var(--second-background-color);
}
.visiter h2 {
    color: var(--main-background-color);
}
.line {
    background-color: var(--third-background-color);
}
.hours {
    font-family: var(--font-subtitle);
    font-weight: 600;
}
.socials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white; /*Dev*/
}
.legal-notice {
    border-top: 1px solid white;
}